body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cb6cf4;
  color: #333;
  scroll-behavior: smooth;
}

header {
  background-color: #8800ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 40px 20px;
  text-align: center;
}

section {
  margin-bottom: 60px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.produto {
  background-color: #fffefe;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.produto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.produto h3 {
  margin: 10px 0 5px;
  color: #8800ff;
}

.produto p {
  margin: 5px 0 10px;
  font-weight: bold;
}

.comprar {
  background-color: #8800ff;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 15px;
}

.comprar:hover {
  background-color: #6a00cc;
}

.sobre,
.contato {
  max-width: 700px;
  margin: 0 auto;
}

.sobre h2,
.contato h2 {
  color: #8800ff;
}
